<!-- <h2>Add Server</h2> -->

<!-- <form [formGroup]="newServerForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Server Name
    </label>
    <input id="name" type="text" formControlName="name" class="input-style">
  </div>

  <div>
    <label for="server_type">
      Server Type
    </label>
    <input id="server_type" type="text" formControlName="server_type" class="input-style">
  </div>

  <div>
    <label for="power_draw">
      Power Draw (Amps)
    </label>
    <input id="power_draw" type="number" formControlName="power_draw" class="input-style">
  </div>

  <div>
    <label for="network">
      Network Type
    </label>
    <input id="network" type="text" formControlName="network" class="input-style">
  </div>

  <button class="button" type="submit">Add Server</button>

</form> -->

<h3>Upload List of Servers</h3>
  
    <div>
      <label for="upload">
        Choose a CSV file to upload (add help): Use the following format:
        <div class="csvhelp">
          server_name,server_type,power_amps,u_size<br/>
            e.g. itl01a,Intel,5.833,2
        </div>
      </label>
      <input type="file" id="upload"(change)="onChange($event.target.files)">
  </div>
  
      <!-- <div> {{ serverFileContent }} </div> -->
