<div class="body">

<h1>{{title}}</h1>

<!-- <div class="grid-container">

  <div>1</div>
  <div>2</div>
  <div class="layout1">3</div>
  <div class="layout2">4</div>

</div> -->

<div class="pcalc-container">
<app-server-form></app-server-form>
</div>
<div class="pcalc-container">
<app-pdu-form></app-pdu-form>
</div>

<div cdkDropListGroup>

  <div class="pcalc-container">
    <h2>Server Pool</h2>
    <cdk-drop-list
      [cdkDropListData]="servers"
      class="pcalc-list"
      (cdkDropListDropped)="drop($event)">
      <div class="pcalc-box" *ngFor="let item of servers" cdkDrag>{{item.name}} {{item.power}}</div>
    </cdk-drop-list>
</div>

  <div class="pcalc-container">
    <h2>Power Distribution Units:</h2>
    <div *ngFor="let pdu of pdus">
      <h3>{{pdu.label}} {{pdu.totalpower}} {{pdu.servercontainer}}</h3>
      <cdk-drop-list 
      [cdkDropListData]="pdu.servercontainer"
      class="pcalc-list"
      (cdkDropListDropped)="drop($event)">
      <div class="pcalc-box" *ngFor="let item of pdu.servercontainer" cdkDrag>{{item.name}} {{item.power}}</div>
  </cdk-drop-list>

    </div>

</div>

<div>
  <h4>Servers</h4>
  {{servers | json}}
</div>

<div>
  <h4>PDUs</h4>
  {{pdus | json}}
</div>
</div>