<div class="body">

  <h2>{{title}}</h2>

  <div class="form-container">
    <app-server-form></app-server-form>
  </div>

  <div class="form-container">
    <app-pdu-form></app-pdu-form>
  </div>

  <div class="form-container">
    <app-control-form></app-control-form>
  </div>

  <div cdkDropListGroup>

    <div class="pcalc-container">
      <h3>Server Pool</h3>
      <cdk-drop-list [cdkDropListData]="servers" class="pcalc-list" (cdkDropListDropped)="drop($event)">
        <div class="pcalc-box" *ngFor="let item of servers" cdkDrag>Server: {{item.name}}, Power draw:
          {{item.power_draw}}A</div>
      </cdk-drop-list>
    </div>

    <div class="rack-container">
      <h3>Power Distribution Units:</h3>
      <div *ngFor="let rack of racks" class="pcalc-container">
        <h3> {{rack}} </h3>
        <div *ngFor="let pdu of pdus">
          <div *ngIf="pdu.location == rack">
            <h4>PDU: {{pdu.label}} Total power: {{pdu.totalpower}}A, Power Available: {{pdu.poweravail}}A</h4>
            <cdk-drop-list [cdkDropListData]="pdu.servercontainer" class="pcalc-list"
              (cdkDropListDropped)="drop($event)">
              <div class="pcalc-box" *ngFor="let item of pdu.servercontainer" cdkDrag>Server: {{item.name}}, Power draw:
                {{item.power_draw}}A</div>
            </cdk-drop-list>
          </div>
        </div>
      </div>

    </div>

    <!-- <div>
      <h4>Servers</h4>
      {{servers | json}}
    </div>

    <div>
      <h4>RACKS</h4>
      {{racks | json }}
    </div> -->

    <div>
      <h4>PDUs</h4>
      {{pdus | json}}
    </div>

  </div>